
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
  
.navbar-ref {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px 30px;
}
  
.navbar-ul {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
  
.list-inline {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    padding: 20px 30px
}
  