
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.list-inline {
    margin-top: 1%;
}

.navbar-ref {
    color: rgb(233, 233, 233);
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    margin-right: 40px;
}

.navbar-ref:hover {
    color: gray;
    text-decoration: none;
}
