body {
    height:100vh;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-top: 5%;
}

.row {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

#name-headline {
    font-size: 180%;
    
}

#ubc {
    height: 30%;
    width: 30%;
}

#fresh {
    height: 90%;
    width: 90%;
}
