body, html {
  height: 100%;
}

.hero-image {
  background-image: url("../images/bc-2297205.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(233, 233, 233);
}

#name-headline {
  font-size: 400%;
}

.landing-page-icon i {
  color: rgb(233, 233, 233);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding-left: 2%;
  font-size: 200%;
}

.landing-page-icon i:hover {
  color: rgb(136, 136, 136);
}

#resume {
  color: rgb(233, 233, 233);
  font-size: 110%;
}

#resume:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}