body {
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-top: 5%;
}

.row {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

#name-headline {
    font-size: 180%;
}

#html {
    height: 60%;
    width: 60%;
}

#barbell {
    height: 60%;
    width: 60%;
}

#iv {
    height: 60%;
    width: 60%;
}