{% extends "bootstrap/base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>Parker Ram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {% block styles %}
        {{super()}}
        <link rel="icon" href="/static/images/icons8-user-male-64.png">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900" rel="stylesheet">
    {% endblock styles %}
{% endblock head %}

{% block navbar %}
    <div id="navbar" class="navbar-fixed-top">
        <ul id="navbar-list" class="list-inline">
            <li><a class="navbar-ref" href="/">Home</a></li>
            <li><a class="navbar-ref" href="/projects">Projects</a></li>
            <li><a class="navbar-ref" href="/experience">Experience</a></li>
        </ul>
    </div>
{% endblock navbar %}
