{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/experience.css') }}">
{% endblock styles %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Data Analyst Co-op @ FreshBooks</b>
      <p class="text-content">
        I'm currently an undergraduate student at the University of British Columbia studying statistics and self-learning software development.
        During my co-op terms i'm hoping to explore the fields of data science and software development to learn as much as I can!
      </p>
    </div>
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
      GRAPHIC
    </div>
  </div>

  <div class="row">
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
      GRAPHIC
    </div>
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Teaching Assistant (CPSC 221 - Intro to DS & A) @ UBC</b>
      <p class="text-content">
        I'm currently an undergraduate student at the University of British Columbia studying statistics and self-learning software development.
        During my co-op terms i'm hoping to explore the fields of data science and software development to learn as much as I can!
      </p>
    </div>
  </div>

</div>
{% endblock content %}