{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/experience.css') }}">
{% endblock styles %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Data Analyst Co-op @ FreshBooks</b>
      <br> <br>
      <p class="text-content">
        Currently working with the Lifecycle Marketing team to better understand our customers and evaluate campaigns through data. 
        A typical workflow would be using PostgreSQL to pull data from Redshift, using Tableau to visualize and R for statistical analysis.
      </p>
    </div>
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
        <img id="fresh" src="../static/images/fresh.webp">
    </div>
  </div>

  <div class="row">
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
        <img id="ubc" src="../static/images/ubc.png">
    </div>
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Teaching Assistant (CPSC 221 - Intro to DS & A) @ UBC</b>
      <br> <br>
      <p class="text-content">
        Worked with a team of ~25 TA's where we assisted 3 sections of CPSC 221. 
        I was responsible for holding weekly office hours where I provided assistance with coding assignments in C++.
        The assignments required students to implement various data structures and algorithms to complete tasks such as 
        flood filling an image using <a href="../static/images/customBFS.gif">breadth-first</a> or <a href="../static/images/customDFS.gif">depth-first</a> 
        traversal as well as <a href="../static/images/PA3pic2.png">blurring an image</a>.
      </p>
    </div>
  </div>

</div>
{% endblock content %}