{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock styles %}

{%block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
{% endblock scripts %}


{% block content %}
  <div class="container">
      <div id="box" class="wrapper fixed-wrapper">
          <section id="terminal">
              <div id="terminal-container">
                  <div class="terminal">
                      <div class="window-title">
                          <div class="win-buttons">
                              <a id="close" class="button" href="#"></a>
                              <a id="min" class="button" href="#"></a>
                              <a id="max" class="button" href="#"></a>
                          </div>
                          <span class="title">parkerram -- -bash -- 80x24</span>
                      </div>
                      <div class="message">
                          <span class='prompt'><span class='user'>parkerram</span><span class="at">@</span>
                          <span class="path">/home/pram/</span>><span class="caret">$</span></span>
                          <span class="typed"></span>
                          <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"></input></form>
                      </div>
                  </div>
              </div>
          </section>
      </div>
      <div id="text" class="wrapper fixed-wrapper">
        <div class="top-text">
          <b id="name-headline" class="top-text">PARKER RAM</b>
          <a id="git" class="white-text landing-page-icon" href="https://www.github.com/ParkerRam" target="_blank"><i class="fab fa-github" aria-hidden="true">&nbsp</i></a>
          <a id="link" class="white-text landing-page-icon" href="https://www.linkedin.com/in/parker-ram" target="_blank"><i class="fab fa-linkedin" aria-hidden="true">&nbsp</i> </a>
          <a id="ig" class="white-text landing-page-icon" href="https://www.instagram.com/parker.ram" target="_blank"><i class="fab fa-instagram" aria-hidden="true">&nbsp</i> </a>
        </div>
        <div class="middle-text">
            <p class="text-content">
              I'm currently an undergraduate student at the University of British Columbia studying statistics and self-learning software development.
              During my co-op terms i'm hoping to explore the fields of data science and software development to learn as much as I can!
            </p>
            <p class="text-content">
              During my free time I weight lift and compete in powerlifting, what got me hooked is the tangible results seen from hard work and dedication.
              I also enjoy spending time hiking with friends and exploring British Columbia!
            </p>
          </div>
      </div>
  </div>
{% endblock %}