{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock styles %}

{%block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
{% endblock scripts %}

<b id="name-headline" class="top-text">Parker Ram</b>
<br>
<a class="landing-page-icon" href="https://www.github.com/ParkerRam" target="_blank"><i class="fab fa-github" aria-hidden="true">&nbsp</i></a>
<a class="landing-page-icon" href="https://www.linkedin.com/in/parker-ram" target="_blank"><i class="fab fa-linkedin" aria-hidden="true">&nbsp</i> </a>
<a class="landing-page-icon" href="https://www.instagram.com/parker.ram" target="_blank"><i class="fab fa-instagram" aria-hidden="true">&nbsp</i> </a>
<br>
<a href="static/files/Resume_Parker.pdf" target="_blank" class="white-text">Resume</a>

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <b id="name-headline" class="top-text">PARKER RAM</b>
        <br>
        <a class="landing-page-icon" href="https://www.github.com/ParkerRam" target="_blank"><i class="fab fa-github" aria-hidden="true">&nbsp</i></a>
        <a class="landing-page-icon" href="https://www.linkedin.com/in/parker-ram" target="_blank"><i class="fab fa-linkedin" aria-hidden="true">&nbsp</i> </a>
        <a class="landing-page-icon" href="https://www.instagram.com/parker.ram" target="_blank"><i class="fab fa-instagram" aria-hidden="true">&nbsp</i> </a>
        <br>
        <a id="resume" class="white-text" href="static/files/Resume_Parker.pdf" target="_blank">Resume</a>
  </div>
{% endblock %}