{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/projects.css') }}">
{% endblock styles %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Personal Website</b>
      <br> <br>
      <p class="text-content">
        The very website you're looking at right now! 
        I started this website primarily to showcase my past and current projects but have also learned a good foundation of HTML and CSS.
        I'll be updating this website as I progress through my career in software development or data science.
      </p>
    </div>
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
        <img id="html" src="../static/images/htmlcss.png">
    </div>
  </div>

  <div class="row">
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
        <img id="iv" src="../static/images/iv.jpg">
    </div>
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Chronic Kidney Disease Analysis</b>
      <br> <br>
      <p class="text-content">
          Term project for DSCI 100 at UBC. Data wrangling, EDA and classification exercise on the <a href=https://archive.ics.uci.edu/ml/datasets/Chronic_Kidney_Disease#>UCI Chronic Kidney Disease Dataset</a>.
           It was found that hemoglobin, packed cell volume, red blood cell count, Diabetes mellitus, hypertension, albumin, and specific gravity are all strong predictors, these were confirmed through EDA and recursive feature elimination.
            A simple KNN model used to perfectly classify our test set using only the above predictors, however the dataset is rather small and these results may be misleading.
      </p>
    </div>
  </div>

  
  <div class="row">
    <div id="text" class="col-sm-7 col-md-6 col-lg-7">
      <b id="name-headline" class="top-text">Powerlifting Dataset Analysis</b>
      <br> <br>
      <p class="text-content">
          Data wrangling, EDA and model fitting of <a href=https://www.openpowerlifting.org/>OpenPowerlifting's Datset</a>.
           I took a look at the exponential growth of this niche sport as well as identified what body traits correlate with strength.
            Used non-parametric hypothesis test (Mann Whitney U) to test is there is a significant difference in strength among top level lifters in drug tested and non drug tested federations.
           Used linear regression with a polynomial basis to predict a lifter's bodyweight achieving a RMSE of 0.0202.
      </p>
    </div>
    <div id="graphic" class="col-sm-5 col-md-6 col-lg-5">
        <img id="barbell" src="../static/images/barbell.png">
    </div>
  </div>

</div>
{% endblock content %}